 html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    height: 100vh;
    margin: 0;
}
.navbar a {
    font-size: 1.25rem !important;
}

#fondo-navegacion {
    background: linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
}
.navbar-dropdown a {
    color: black !important;
}

#fondo-navegacion a {
    color: seashell;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/* ------------ */
.img-perfil img{
    width: 55px;
    height: 55px;
    overflow: hidden;
    border-radius: 900px;
}

.card {
    margin-top: 1rem ;
}

.img-rounded img {
    width: 100%;
}

.img-rounded {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}

.likes {
    padding-top: 10px;
    padding-bottom: 10px;
}

.toast-header > a {
    color: #212529;
}

.likes img {
    width: 20px;
    height: 20px;
}  

.toast-footer {
    margin-bottom: 0rem;
    margin-top: 0.5rem;
}

.toast-footer > p {
    margin-bottom: 0rem;
    padding: 5px;
    padding-left: 0px;
}

.comentarios {
    padding: 1rem;
}

/* Estilos para modal inicio de sesion */
.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0,0.81);
    display: none;
}

.modal-content {
    padding: 10px;
}
/* *********************************** */


section {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagen {
    box-sizing: border-box;
    margin-top: 20px;
    width: 20%;
    padding: 10px;
}

.imagen img {
    width: 100%;
    cursor: pointer;
}

.datos-perfil {
    color: #17202A;
}

.buttons {
    float: right;
}




